{% extends "index.html" %}

{% block head %}
    <title>Movie Details</title>
{% endblock %}

{% block content %}
<div class="container">

    <h1 class="my-4">{{ movie.title }}</h1>

    <div class="row">
        <div class="col-md-8">
            {% if selected_backdrop.file_path %}
                <img class="img-fluid" src="{{ tmdb_image_url(selected_backdrop.file_path, 'w780') }}" alt="">
            {% else %}
                <img src="https://dummyimage.com/780x450/000/fff.jpg?text={{ movie.title }}" class="img-fluid" alt="{{ movie.title }}">
            {% endif %}
        </div>

        <div class="col-md-4">
            <h3 style="text-align: justify">{{ movie.tagline }}</h3>
            <p style="text-align: justify">{{ movie.overview }}</p>
            <dl>
                <dt>Budget</dt>
                <dd>
                    ${{ '{:,.0f}'.format(movie.budget) }}
                </dd>
                <dt>Genre</dt>
                <dd>
                    {% for genre in movie.genres %}
                        {{ genre.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </div>

    <h3 class="my-4">Cast</h3>

    <div class="row">
        {% for actor in cast %}
           <div class="col-md-3 col-sm-6 mb-4">
               <a href="#">
                   <figure class="figure">
                       {% if actor.profile_path %}
                           <img src="{{ tmdb_image_url(actor.profile_path, 'w185') }}" class="figure-img img-fluid rounded" alt="{{ actor.name }}">
                       {% else %}
                           <img src="https://dummyimage.com/185x278/000/fff.jpg?text={{ actor.name }}" class="figure-img img-fluid rounded" alt="{{ actor.name }}">
                       {% endif %}
                       <figcaption class="figure-caption">{{ actor.name }} as <br><span class="font-italic">{{ actor.character }}</span></figcaption>
                   </figure>
                   </a>
           </div>
        {% endfor %}
    </div>
</div>

{% endblock %}